body {
  font-size: 14pt;
  line-height: 24pt;
  color: #000;
  font-weight: bold;
  font-family: 'PT Sans Narrow', 'Arial', sans-serif;
}

h1 {
  font-size: 30pt;
  line-height: 42pt;
}

h2 {
  font-size: 24pt;
  line-height: 30pt;
}
